.toast-container{
  .toast{
    position: absolute;
    width: 450px;
    padding: .5rem;
    z-index: 99;
    .left &{
      left: 0;
    }
    .right &{
      right: 0;
    }
    .center &{
      left: 50%;
      transform: translateX(-50%);
    }
  }
}